<div class="formulary">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-radio-group>
    <mat-radio-button value="0" checked>Hombre</mat-radio-button>
    <mat-radio-button value="1">Mujer</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-label>Edad</mat-label>
    <input matInput type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>IMC</mat-label>
    <input matInput type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Pais</mat-label>
    <input matInput>
  </mat-form-field>
</div>
