<!-- Stepper -->
<mat-stepper linear #stepper>
  <router-outlet></router-outlet>

  <mat-step>
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos</ng-template>
      <initial-data></initial-data>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Salud mental</ng-template>

    <mental-health (result)="data.mentalHealth"></mental-health>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Salud emocional</ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Relaciones sociales</ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Relaciones familiares</ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Sentido del proposito</ng-template>
  </mat-step>
</mat-stepper>

<button (click)="prueba()">PRUEBA</button>
